body{
    background-color: #3b540f;
    color: white;
    font-family: Arial, sans-serif;
}

main{
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

.passo{
    display: none;
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 15px;
}

.passo.ativo{
    display: block;
}

button{
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}