body{
    background-color: #1E3A8A;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
    
button{
   background-color: #8fd615;
   color: white;
   font-family: 'Bai Jamjuree', sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main img {
    width: 80%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
}

img {
    width: 200px;
    height: auto;
}

.timeline-item img,
.card img,
img {
    width: 400px !important;
    height: auto !important;
}

.voltar {
    display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.dia {
    color: aqua;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0 0 10px #3b540f;
}
.totó{
    display:center;
    font-family:'Times New Roman', Times, serif;
    color:aqua;
    text-shadow:#3b540f;

}

.bito1{
    display:center;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    text-shadow: #3b540f;
}
                 