body {
    background-color: rgb(59, 80, 23);
    color: white;
    font-family: "bai Jamjuree", sans-serif;
    display: flex;
    height: 400px;
}

button {
    background-color: rgb(84, 236, 13);
    color: white;
    font-family: "bai Jamjuree", sans-serif;
}